<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="2.14.1208" targetFramework="net45" />
  <package id="MSBuild.ILMerge.Task" version="1.0.5" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.2-beta1" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.621" targetFramework="net45" />
</packages>